$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

$charcoal: #36454F;
$smoke: rgb(230, 230, 230);
$banana: #f6b93b;
$jelapena: #b71540;

$transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);